/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(partials/fonts.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased; }

h2, h3, h4 {
  font-weight: bold; }

h2 {
  font-size: 14pt; }

a {
  text-decoration: none; }

body > .wrapper {
  min-height: 400px; }
  body > .wrapper p {
    line-height: 1.2; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.backToTop {
  opacity: 0;
  position: fixed;
  right: 0.5%;
  bottom: 1%;
  font-size: 24pt;
  color: #000;
  transition: opacity 1s 1s; }
  .backToTop.active {
    opacity: 1; }

.wrapper {
  width: 95%;
  margin: 0 auto; }

#header {
  width: 100%;
  margin: 15px 0 15px; }
  #header > .wrapper {
    margin: 15px auto 0; }
  #header #logo {
    float: left;
    font-family: 'Permanent Marker', cursive;
    font-size: 24pt;
    max-width: 575px;
    width: 60%;
    color: #0447b2; }
    #header #logo p, #header #logo span {
      font-family: 'Open Sans Condensed', sans-serif;
      color: #000;
      text-shadow: none; }
    #header #logo p {
      font-size: 18px; }
  #header #nav {
    float: right;
    margin-top: 23px; }
    #header #nav li {
      float: left;
      margin: 0 5px 0 0; }
      #header #nav li a {
        text-decoration: none;
        background: #000;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        padding: 4px 7px; }
        #header #nav li a:hover, #header #nav li a.active {
          background: #0447b2;
          color: #000; }

.wrapper#bodyContent {
  overflow: hidden;
  margin: 25px auto; }

#cta-grid {
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 5px solid #000;
  margin-bottom: 15px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: wrap; }
  #cta-grid li {
    float: left;
    width: 49.4%;
    height: 100%;
    max-height: 350px;
    margin: 0 5px 5px 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #333; }
    #cta-grid li img {
      width: 100%;
      height: 100%;
      -webkit-filter: blur(3px) grayscale(1);
      /* Webkit */
      filter: blur(3px) grayscale(1);
      /* W3C */
      transition-property: -webkit-filter;
      transition-duration: 550ms;
      transition-timing-function: ease; }
      #cta-grid li img:hover {
        cursor: pointer;
        -webkit-filter: grayscale(0); }
    #cta-grid li h2 {
      position: absolute;
      z-index: 10;
      font-size: 24pt;
      font-weight: bold;
      text-transform: uppercase;
      color: #0449b7;
      text-shadow: 1px 1px 1px #777; }
    #cta-grid li.first h2 {
      left: 5px;
      top: 5px; }
    #cta-grid li.second h2 {
      right: 5px;
      top: 5px; }
    #cta-grid li.third h2 {
      left: 5px;
      bottom: 5px; }
    #cta-grid li.fourth h2 {
      bottom: 5px;
      right: 5px; }

.homeContent {
  width: 87%;
  margin: 0 auto; }
  .homeContent > div {
    margin-bottom: 25px;
    padding: 10px 3% 25px; }
    .homeContent > div h2 {
      margin: 0 0 2px; }
    .homeContent > div p {
      font-weight: normal;
      font-size: 14pt; }
    .homeContent > div.highlight {
      background: #0449b7;
      transition: background-color 3s 300ms ease;
      min-height: 115px; }
      .homeContent > div.highlight.removeHighlight {
        background: transparent;
        transition: background-color 1s 250ms ease; }
    .homeContent > div .seeMore {
      display: block;
      color: #fff;
      background: #0449b7;
      float: right;
      font-weight: bold;
      margin: 0 1% 0 0;
      padding: 7px 35px 7px 14px;
      position: relative; }
      .homeContent > div .seeMore svg {
        position: absolute;
        right: 10px;
        top: 7px; }

.banner {
  background: #333;
  min-height: 275px;
  margin: 0 0 25px; }

.content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .content h1, .content h2, .content h3, .content h4 {
    font-weight: bold; }
  .content h1 {
    font-size: 20pt;
    margin: 0 0 10px; }
  .content .right {
    width: 88%; }
  .content .left {
    width: 10%;
    margin-right: 1%; }
    .content .left ul.side-nav li a {
      color: #333;
      display: block;
      padding: 4px 7px;
      box-sizing: border-box; }
    .content .left ul.side-nav li.active a {
      background: #0449b7;
      font-weight: bold; }
  .content .photos {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px dotted #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1; }
    .content .photos img {
      width: 150px;
      height: 150px;
      background: #333;
      display: block; }

#footer {
  position: fixed;
  bottom: 0;
  padding: 0 2%; }

.gallery-nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 25px auto; }
  .gallery-nav li {
    display: flex; }
    .gallery-nav li a {
      background: #0449b7;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px; }

.galleries .gallery {
  display: none; }
  .galleries .gallery:fist-child {
    display: block; }
  .galleries .gallery img {
    opacity: 1;
    transition: opacity 500ms ease-in;
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto 25px; }
  .galleries .gallery img[data-src] {
    opacity: 0; }
