
ul#nav
    li
        a(href="/about") about
    li
        a(href="/services") services
    li
        a.contact(href="/work") our work
    li
        a.contact(href="mailto:danbadelita1@yahoo.com") request a quote
