//- about.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

block content
    .wrapper
      .banner
          img(src="./img/898297574_banner.jpg")
      ul.gallery-nav
        li
          a(href="#kitchen") Kitchens
        li
          a(href="#bathroom") Bathrooms
        li
          a(href="#flooring") Flooring
        li
          a(href="#basement") Basements

      .galleries
        #kitchen.gallery
          img(data-src="test.jpg")
        #bathroom.gallery
          img(data-src="IMG_0292.JPG")
          img(data-src="IMG_0420.JPG")
          img(data-src="IMG_0561.JPG")
          img(data-src="IMG_2745.JPG")
          img(data-src="IMG_2746.JPG")
          img(data-src="IMG_2747.JPG")
        #flooring.gallery
          img(data-src="IMG_0630.JPG")
          img(data-src="IMG_0696.JPG")
          img(data-src="IMG_1888.JPG")
          img(data-src="IMG_2352.JPG")
          img(data-src="IMG_2841.JPG")
          img(data-src="IMG_4756.JPG")
          img(data-src="IMG_5555.JPG")
        #basement.gallery
          img(data-src="test.jpg")


