/*
font-family: 'Courgette', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Open Sans Condensed', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Courgette|Permanent+Marker|Open+Sans+Condensed:300,300italic,700");