//- about.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

block content
    .content-wrapper
        .wrapper
            .banner
            h2.title About Us
            p
                | We are a family run business that prides itself in doing great quality work for our clients.

    block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/jquery.scrollto/jquery.scrollTo.js")
    script(src='/js/global.js')
