//- index.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", type="text/css", href="scripts/slick-carousel/slick/slick.css")
        link(rel="stylesheet", type="text/css", href="scripts/slick-carousel/slick/slick-theme.css")



block content
    .content-wrapper.gallery
        div.infobar
            span#description
            span#loading Loading Image
            a.close X

        div#thumbsWrapper
            div#content
                img(src="./img/projects/thumbs/decks/1.jpg", alt="./img/projects/decks/1.jpg",title="something 1")
                img(src="./img/projects/thumbs/decks/2.jpg", alt="./img/projects/decks/2.jpg",title="something 2")
                img(src="./img/projects/thumbs/decks/3.jpg", alt="./img/projects/decks/3.jpg",title="something 3")
                img(src="./img/projects/thumbs/decks/4.jpg", alt="./img/projects/decks/4.jpg",title="something 4")
                img(src="./img/projects/thumbs/decks/5.jpg", alt="./img/projects/decks/5.jpg",title="something 5")
                img(src="./img/projects/thumbs/decks/6.jpg", alt="./img/projects/decks/6.jpg",title="something 6")
                img(src="./img/projects/thumbs/decks/7.jpg", alt="./img/projects/decks/7.jpg",title="something 7")
                img(src="./img/projects/thumbs/decks/8.jpg", alt="./img/projects/decks/8.jpg",title="something 8")
                img(src="./img/projects/thumbs/decks/9.jpg", alt="./img/projects/decks/9.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/10.jpg", alt="./img/projects/decks/10.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/11.jpg", alt="./img/projects/decks/11.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/12.jpg", alt="./img/projects/decks/12.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/13.jpg", alt="./img/projects/decks/13.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/14.jpg", alt="./img/projects/decks/14.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/15.jpg", alt="./img/projects/decks/15.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/16.jpg", alt="./img/projects/decks/16.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/17.jpg", alt="./img/projects/decks/17.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/19.jpg", alt="./img/projects/decks/19.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/20.jpg", alt="./img/projects/decks/20.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/21.jpg", alt="./img/projects/decks/21.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/22.jpg", alt="./img/projects/decks/22.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/23.jpg", alt="./img/projects/decks/23.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/24.jpg", alt="./img/projects/decks/24.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/25.jpg", alt="./img/projects/decks/25.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/26.jpg", alt="./img/projects/decks/26.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/27.jpg", alt="./img/projects/decks/27.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/28.jpg", alt="./img/projects/decks/28.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/29.jpg", alt="./img/projects/decks/29.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/30.jpg", alt="./img/projects/decks/30.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/31.jpg", alt="./img/projects/decks/31.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/32.jpg", alt="./img/projects/decks/32.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/33.jpg", alt="./img/projects/decks/33.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/34.jpg", alt="./img/projects/decks/34.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/35.jpg", alt="./img/projects/decks/35.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/36.jpg", alt="./img/projects/decks/36.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/37.jpg", alt="./img/projects/decks/37.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/38.jpg", alt="./img/projects/decks/38.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/39.jpg", alt="./img/projects/decks/39.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/40.jpg", alt="./img/projects/decks/40.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/41.jpg", alt="./img/projects/decks/41.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/42.jpg", alt="./img/projects/decks/42.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/43.jpg", alt="./img/projects/decks/43.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/44.jpg", alt="./img/projects/decks/44.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/45.jpg", alt="./img/projects/decks/45.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/46.jpg", alt="./img/projects/decks/46.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/47.jpg", alt="./img/projects/decks/47.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/48.jpg", alt="./img/projects/decks/48.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/49.jpg", alt="./img/projects/decks/49.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/50.jpg", alt="./img/projects/decks/50.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/51.jpg", alt="./img/projects/decks/51.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/52.jpg", alt="./img/projects/decks/52.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/53.jpg", alt="./img/projects/decks/53.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/54.jpg", alt="./img/projects/decks/54.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/55.jpg", alt="./img/projects/decks/55.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/56.jpg", alt="./img/projects/decks/56.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/57.jpg", alt="./img/projects/decks/57.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/58.jpg", alt="./img/projects/decks/58.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/59.jpg", alt="./img/projects/decks/59.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/60.jpg", alt="./img/projects/decks/60.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/61.jpg", alt="./img/projects/decks/61.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/62.jpg", alt="./img/projects/decks/62.jpg",title="something 9")
                img(src="./img/projects/thumbs/decks/63.jpg", alt="./img/projects/decks/63.jpg",title="something 9")

                img(src="./img/projects/thumbs/fences/1.jpg", alt="./img/projects/fences/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/2.jpg", alt="./img/projects/fences/2.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/3.jpg", alt="./img/projects/fences/3.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/4.jpg", alt="./img/projects/fences/4.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/5.jpg", alt="./img/projects/fences/5.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/6.jpg", alt="./img/projects/fences/6.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/7.jpg", alt="./img/projects/fences/7.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/8.jpg", alt="./img/projects/fences/8.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/9.jpg", alt="./img/projects/fences/9.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/10.jpg", alt="./img/projects/fences/10.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/11.jpg", alt="./img/projects/fences/11.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/12.jpg", alt="./img/projects/fences/12.jpg",title="something 9")
                img(src="./img/projects/thumbs/fences/13.jpg", alt="./img/projects/fences/13.jpg",title="something 9")

                img(src="./img/projects/thumbs/pergolas/1.jpg", alt="./img/projects/pergolas/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/2.jpg", alt="./img/projects/pergolas/2.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/3.jpg", alt="./img/projects/pergolas/3.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/4.jpg", alt="./img/projects/pergolas/4.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/5.jpg", alt="./img/projects/pergolas/5.jpg",title="something 9")
                img(src="./img/projects/thumbs/pergolas/6.jpg", alt="./img/projects/pergolas/6.jpg",title="something 9")

                img(src="./img/projects/thumbs/rehab/1.jpg", alt="./img/projects/rehab/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/2.jpg", alt="./img/projects/rehab/2.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/3.jpg", alt="./img/projects/rehab/3.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/4.jpg", alt="./img/projects/rehab/4.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/5.jpg", alt="./img/projects/rehab/5.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/6.jpg", alt="./img/projects/rehab/6.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/7.jpg", alt="./img/projects/rehab/7.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/8.jpg", alt="./img/projects/rehab/8.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/9.jpg", alt="./img/projects/rehab/10.jpg",title="something 9")
                img(src="./img/projects/thumbs/rehab/10.jpg", alt="./img/projects/rehab/9.jpg",title="something 9")

                img(src="./img/projects/thumbs/roofs/1.jpg", alt="./img/projects/roofs/1.jpg",title="something 9")
                img(src="./img/projects/thumbs/roofs/2.jpg", alt="./img/projects/roofs/2.jpg",title="something 9")
                
                div.placeholder
        div#panel
            div#wrapper
                a#prev
                    i.fa.fa-angle-left
                a#next
                    i.fa.fa-angle-right
block bodyscripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src='/js/gallery.js')
    script(src='/js/global.js')
