<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Midas Remodeling</title>
	<link rel="stylesheet" href="./styles/css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div id="header">
		<div class="wrapper clearfix">
			<h1 id="logo">
				Midas <span>| Remodeling</span>
				<p>Turning your homes hidden equity into gold</p>
			</h1>
			<ul id="nav">
				<li><a href="#">About Midas</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="#">Our Work</a></li>
				<li><a href="#">Get In Touch</a></li>
			</ul>
		</div>
	</div>

	<div id="bodyContent" class="wrapper">
        <div class="banner"></div>
        <div class="content">
            <div class="left">
                <ul class="side-nav">
                    <li class="active"><a href="#">Kitchens</a></li>
                    <li><a href="#">Bathrooms</a></li>
                    <li><a href="#">Flooring</a></li>
                    <li><a href="#">Basements</a></li>
                </ul>
            </div>

            <div class="right">
                <h1>Kitchen Remodeling</h1>
                <p>
                    services text here
                    Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis 
                    in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci 
                    tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. 
                    Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor 
                    mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis.
                </p>

                <div class="photos">
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                    <div><img src="#" alt=""></div>
                </div>
            </div>
        </div>
	</div>

	<div id="footer"></div>

	<script type="text/javascript" src="./js/vendors/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./js/vendors/jquery.scrollTo/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="./js/vendors/isotope/dist/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>