//- services.pug
extends layout.pug

block styles
        link(rel="stylesheet", href="/styles/css/styles.css")

block content
    .content-wrapper
        .wrapper
            .banner
              img(src="./img/800583112_banner.jpg")
            .services
                #flooring.service
                  h2 Flooring
                  p Floors give the house character. Whether you are looking for a rustic floor or a more modern looks and quality floor is needed to bring the whole room together.

                  p Leveling out floors is a concern for older homes as not to trip over a hump in the floor.

                  p When it comes to new floors a concern is cracks forming in a short while. As such we give the option to install a ditra membrane that will help prevent cracks from starting in a floor

                  p Heated floors are a new possibility thanks to better technology and lower prices. They can be installed in any room in the home. Are safe with tile and marble floors and wood floors. As such they make tile floors even more appealing because they are no longer cold.

                  p Stone floors can include anything from a modern tile look to a medieval look with using bricks.

                  p Wood floors are a classic look that can give a home rustic or traditional look depending on the finishes that are chosen.

                  p Another common option is a floating floor which allows a greater degree of expression by choosing a faux tile or wood look. There are even such choices with cork a durable material.
                    | *Leveling floors is an area of expertise

                  p Foyers are a common place to make a statement to newcomers

                #kitchens.service
                  h2 Kitchens
                  p Probably the most used room in most homes a kitchen is a focal point of any home. Besides being used to cook most of the time a family will spend their time together here. As such it not only should be aesthetically pleasing but also practical.>
                  p Cabinets When walking into a new kitchen one of the first things that is noticed are the cabinets. The setup of cabinets can make or break a kitchen because it needs to have a functional flow between the trinity that is the stove, sink, and refrigerator. There needs to be plenty of space to move about but also to have things in easy reach in the cabinets. As such there should also be plenty of space to hold all the items needed on a daily basis. Also to be able to organize them.
                  p Countertops Tied with the cabinets countertops are the other feature which draws the eye when stepping into a kitchen. Whatever the material that is used in the kitchen it is important to keep in mind that it should be something can endure lots of wear and tear and is easy to clean. Everything from preparing thanksgiving dinner to your child’s painting will be done on that countertop. Classic granite, quartz, and marble countertops are all safe choices.
                  p Backsplash allow you to even further personalize your kitchen with your own unique style. Whether its an accent above the stove or a full on subway tile wrap around the kitchen in will be sure to share your style with whoever walks into the kitchen.
                  p A under appreciated feature at times is a spacious sink and faucet. It is a must, to have sink that works with the rest of the kitchen but also works for you so that it is easy to handle even if your hands are full and to be able to easily fill a pot of water when you have to.

                #basements.service
                  h2 Basements
                  p The basement doesn't need to be an area for clutter but A bonus space a basement can be a blank slate for a home. It can be transformed into a play area for the kids, man cave, home theater or a separate area to rent out for extra income>
                  p Insulation is an important first step because it can not only save you energy costs later on the line but it will also help with acoustics to stop noise from going from one floor to another.
                  p Remodeling the framing of walls to either split an area into multiple rooms is also a way to make more rooms available or by taking down walls to open up a space.
                  p Drywall is a common part of remodeling and as such can be taken into account if a room is added or to finish a basement.
                  p Better lighting or recessed lighting could be a could choice for this space.
                  p HVAC could also be considered if it didn't have any done before.


